@font-face {
    font-family: "Schoolbell";
    src: url('https://formdiputadxs.000webhostapp.com/Schoolbell.ttf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}
  
$schoolbell: "Schoolbell";
$light: 300;
$regular: 500;
$bold: 800;