<ion-header>
  <ion-navbar>
    <ion-title>Configuración</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" color="primary">
      <ion-segment-button value="config">
        Configuracion
      </ion-segment-button>
      <ion-segment-button value="ejemp">
        Ejemplos 
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-content *ngIf="tab == 'config'">
    <form [formGroup]="formStyle">

      <ion-list>

        <ion-item>
          <ion-label>Tema: </ion-label>
          <ion-select formControlName="theme">
            <ion-option value="profesional-theme">Profesional</ion-option>
            <ion-option value="naive-theme">Naive</ion-option>
            <ion-option value="argentina-theme">Argentina</ion-option>
            <ion-option value="custom-theme">Personalizado</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
          <ion-label>Fondo: </ion-label>
          <ion-select formControlName="background">
              <ion-option value="custom-theme-back1">Blanco</ion-option>
              <ion-option value="custom-theme-back2">Negro</ion-option>
              <ion-option value="custom-theme-back3">Azul</ion-option>
              <ion-option value="custom-theme-back4">Amarillo</ion-option>
              <ion-option value="custom-theme-back5">Verde</ion-option>
              <ion-option value="custom-theme-back6">Rojo</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
          <ion-label>Toolbar: </ion-label>
          <ion-select formControlName="toolbar">
              <ion-option value="custom-theme-tool1">Blanco</ion-option>
              <ion-option value="custom-theme-tool2">Negro</ion-option>
              <ion-option value="custom-theme-tool3">Azul</ion-option>
              <ion-option value="custom-theme-tool4">Amarillo</ion-option>
              <ion-option value="custom-theme-tool5">Verde</ion-option>
              <ion-option value="custom-theme-tool6">Rojo</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
          <ion-label>Color de texto: </ion-label>
          <ion-select formControlName="text">
              <ion-option value="custom-theme-text1">Gris</ion-option>
              <ion-option value="custom-theme-text2">Blanco</ion-option>
              <ion-option value="custom-theme-text3">Azul oscuro</ion-option>
              <ion-option value="custom-theme-text4">Bordo</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
          <ion-label>Fuente: </ion-label>
          <ion-select formControlName="font">
              <ion-option value="custom-theme-font1">Georgia</ion-option>
              <ion-option value="custom-theme-font2">Helvetica</ion-option>
              <ion-option value="custom-theme-font3">Comic Sans</ion-option>
              <ion-option value="custom-theme-font4">Console</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
          <ion-label>Botones: </ion-label>
          <ion-select formControlName="buttons">
              <ion-option value="custom-theme-btn1">Azul</ion-option>
              <ion-option value="custom-theme-btn2">Verde</ion-option>
              <ion-option value="custom-theme-btn3">Rojo</ion-option>
              <ion-option value="custom-theme-btn4">Violeta</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
          <ion-label>Redondeado: </ion-label>
          <ion-select formControlName="roundBtn">
              <ion-option value="custom-theme-btnR1">Nulo</ion-option>
              <ion-option value="custom-theme-btnR2">Medio</ion-option>
              <ion-option value="custom-theme-btnR3">Mucho</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>

    </form>

  </ion-content>

  <ion-content *ngIf="tab == 'ejemp'">

    <div class="universidad-logo" style="margin-bottom: -20px;"></div>

    <h4 class="text-p">Ejemplo:</h4>

    <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua.</p>
    <button ion-button  block>Boton de test</button>

  </ion-content>

</ion-content>