@font-face { font-family: Magallanes; src: url('../assets/Magallanes.otf'); } 

.argentina-theme {

  $celeste: #7dc1ff;
  $azul: #3f56c7;
  $blanco: #FFFFFF;
  $amarillo: #F6B40E;
  $gris: #424242;

  ion-header, ion-content {
    font-family: Magallanes !important;
  }

  /* TOOLBAR */
  .bar-button-ios { //IOS
    color: $gris;
  }
  .toolbar-title-md, .bar-button-default-md, .toolbar-title-ios {
    color: $gris !important;
  }
  .toolbar-background {
    background-color: $amarillo !important;
  }

  /* TOOLBAR BTN */
  //Android
  .segment-md-primary .segment-button {
    color: $gris !important;
  }
  .segment-button.segment-activated { //Active
    border-color: $blanco !important;
    color: $blanco !important;
  }

  //iOS
  .segment-ios-primary .segment-button,
  .segment-ios .segment-button { 
    border-color: $gris;
    color: $gris;
  }
  .segment-ios-primary .segment-button.segment-activated, 
  .segment-ios .segment-button.segment-activated { //Active
    background-color: $azul;
    border-color: $gris !important;
  }

  ion-content, .scroll-content {
    background-color: $celeste !important;
  }
  
  /*LOGO*/
  .universidad-logo{
    background-image: url("../assets/logos/logo-argentina.png");
    background-repeat: no-repeat;
    background-size: 100%, 90%;
    height: 25%;
  }

  /* TITLE */
  .page-title {
    font-weight: 800;
  }

  /* LIST */
  .item-md-primary, .item-ios-primary {
    background-color: $azul;
  }

  /* BUTTON */

  .button-md.button-default, .button-ios {
    background-color: $azul !important;
    color: $blanco !important;
    border-radius: 50px;
    box-shadow: 4px 5px #222;
    margin-bottom: 10px;
    background-image: url("../assets/imagenes/fondo-boton-inicio.png");
    background-repeat: no-repeat;
  }

  .button-md.button-default:active, .button-ios:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-clear-ios {
    color: $azul !important;
    background-color: transparent !important;
  }

}