.argentina-theme {

  $celeste: #7dc1ff;
  $azul: #3f56c7;
  $blanco: #FFFFFF;
  $amarillo: #F6B40E;
  $gris: #424242;

  /* TOOLBAR */
  .toolbar-title-md, .bar-button-default-md {
    color: $gris !important;
  }
  .toolbar-background {
    background-color: $amarillo !important;
  }

  /* TOOLBAR BTN */
  //Android
  .segment-md-primary .segment-button {
    color: $gris !important;
  }
  .segment-button.segment-activated { //Active
    border-color: $blanco !important;
    color: $blanco !important;
  }

  //iOS
  .segment-ios-primary .segment-button { 
    border-color: $gris;
    color: $gris;
  }
  .segment-ios-primary .segment-button.segment-activated { //Active
    background-color: $azul;
    border-color: $gris !important;
  }

  ion-content {
    background-color: $celeste !important;
  }
  
  /* LIST */
  .item-md-primary, .item-ios-primary {
    background-color: $azul;
  }

  /* BUTTON */
  .button-md.button-default {
    background-color: $azul !important;
    color: $blanco !important;
  }
}