<ion-header>
  <ion-navbar>
    <ion-title>Configuración</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formStyle">

    <ion-list>

      <ion-item>
        <ion-label>Tema: </ion-label>
        <ion-select formControlName="theme">
          <ion-option value="profesional-theme">Profesional</ion-option>
          <ion-option value="naive-theme">Naive</ion-option>
          <ion-option value="argentina-theme">Argentina</ion-option>
          <ion-option value="custom-theme">Personalizado</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
        <ion-label>Fondo: </ion-label>
        <ion-select formControlName="background">
            <ion-option value="custom-theme-back1">Celeste</ion-option>
            <ion-option value="custom-theme-back2">Naranja</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'">
          <ion-label>Botones: </ion-label>
          <ion-select formControlName="buttons">
              <ion-option value="custom-theme-btn1">Azul</ion-option>
              <ion-option value="custom-theme-btn2">Verde</ion-option>
          </ion-select>
        </ion-item>

    </ion-list>

    <!-- *ngIf="this.formStyle.controls['theme'].value == 'custom-theme'" -->
  </form>
</ion-content>